# Root (everything)
/*

# This file
!.gitignore

# Readme file
!README.md

# Custom scripts
!/scripts/

# Directory: .config
!/.config/
/.config/*

# -------- Zsh --------
!.zsh_profile
# ---------------------

# -------- Neovim --------
# Directory: .config/nvim
!/.config/nvim/
#
# Packer compiled
/.config/nvim/plugin/packer_compiled.lua 
# ------------------------

# -------- Alacritty --------
# Directory: .config/alacritty
!/.config/alacritty/
# ---------------------------

# -------- i3 --------
!/.config/i3/
# --------------------

# -------- Polybar --------
!/.config/polybar/
# -------------------------

