# Root (everything)
/*

# This file
!.gitignore

# Readme file
!README.md

# Custom scripts
!/scripts/

# Directory: .config
!/.config/
/.config/*

# -------- GnuPG --------
!/.gnupg/
/.gnupg/*
!/.gnupg/gpg-agent.conf
# ---------------------

# -------- Zsh --------
!.zsh_profile
# ---------------------

# -------- Neovim --------
# Directory: .config/nvim
!/.config/nvim/
#
# Lazy lock
/.config/nvim/lazy-lock.json
# ------------------------

# -------- Alacritty --------
# Directory: .config/alacritty
!/.config/alacritty/
# ---------------------------

# -------- i3 --------
# Directory: .config/i3
!/.config/i3/
# --------------------

# -------- Polybar --------
# Directory: .config/polybar
!/.config/polybar/
# -------------------------

# -------- Rofi --------
# Directory: .config/rofi
!/.config/rofi/
# ----------------------

